In [57]:
import numpy as np
from sklearn import preprocessing, model_selection, neighbors, svm
import pandas as pd
import warnings
from collections import Counter
import random

In [75]:
df = pd.read_csv('breast-cancer-wisconsin.data.txt')
df.columns=['id','clump_thickness','unif_cell_size','unif_cell_shape','marg_adhesion','single_epith_cell_size','bare_nuclei','bland_chrom','norm_nucleoli','mitoses','class']
df

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4
5,1018099,1,1,1,1,2,10,3,1,1,2
6,1018561,2,1,2,1,2,1,3,1,1,2
7,1033078,2,1,1,1,2,1,1,1,5,2
8,1033078,4,2,1,1,2,1,2,1,1,2
9,1035283,1,1,1,1,1,1,3,1,1,2
10,1036172,2,1,1,1,2,1,2,1,1,2
11,1041801,5,3,3,3,2,3,4,4,1,4
12,1043999,1,1,1,1,2,3,3,1,1,2
13,1044572,8,7,5,10,7,9,5,5,4,4
14,1047630,7,4,6,4,6,1,4,3,1,4
15,1048672,4,1,1,1,2,1,2,1,1,2
16,1049815,4,1,1,1,2,1,3,1,1,2
17,1050670,10,7,7,6,4,10,4,1,2,4
18,1050718,6,1,1,1,2,1,3,1,1,2
19,1054590,7,3,2,10,5,10,5,4,4,4
20,1054593,10,5,5,3,6,7,7,10,1,4
21,1056784,3,1,1,1,2,1,2,1,1,2
22,1057013,8,4,5,1,2,?,7,3,1,4
23,1059552,1,1,1,1,2,1,3,1,1,2
24,1065726,5,2,3,4,2,7,3,6,1,4
25,1066373,3,2,1,1,1,1,2,1,1,2
26,1066979,5,1,1,1,2,1,2,1,1,2
27,1067444,2,1,1,1,2,1,2,1,1,2
28,1070935,1,1,3,1,2,1,1,1,1,2
29,1070935,3,1,1,1,1,1,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
668,1350423,5,10,10,8,5,5,7,10,1,4
669,1352848,3,10,7,8,5,8,7,4,1,4
670,1353092,3,2,1,2,2,1,3,1,1,2
671,1354840,2,1,1,1,2,1,3,1,1,2
672,1354840,5,3,2,1,3,1,1,1,1,2
673,1355260,1,1,1,1,2,1,2,1,1,2
674,1365075,4,1,4,1,2,1,1,1,1,2
675,1365328,1,1,2,1,2,1,2,1,1,2
676,1368267,5,1,1,1,2,1,1,1,1,2
677,1368273,1,1,1,1,2,1,1,1,1,2
678,1368882,2,1,1,1,2,1,1,1,1,2
679,1369821,10,10,10,10,5,10,10,10,7,4
680,1371026,5,10,10,10,4,10,5,6,3,4
681,1371920,5,1,1,1,2,1,3,2,1,2
682,466906,1,1,1,1,2,1,1,1,1,2
683,466906,1,1,1,1,2,1,1,1,1,2
684,534555,1,1,1,1,2,1,1,1,1,2
685,536708,1,1,1,1,2,1,1,1,1,2
686,566346,3,1,1,1,2,1,2,3,1,2
687,603148,4,1,1,1,2,1,1,1,1,2
688,654546,1,1,1,1,2,1,1,1,8,2
689,654546,1,1,1,3,2,1,1,1,1,2
690,695091,5,10,10,5,4,5,4,4,1,4
691,714039,3,1,1,1,2,1,1,1,1,2
692,763235,3,1,1,1,2,1,2,1,2,2
693,776715,3,1,1,1,3,2,1,1,1,2
694,841769,2,1,1,1,2,1,1,1,1,2
695,888820,5,10,10,3,7,3,8,10,2,4
696,897471,4,8,6,4,3,4,10,6,1,4
697,897471,4,8,8,5,4,5,10,4,1,4

In [76]:
df.replace('?', -99999, inplace=True)
df.drop(['id'],1,inplace=True)
full_data = df.astype(float).values.tolist()
random.shuffle(full_data)

In [77]:
x = np.array(df.drop(['class'],1))
y = np.array(df['class'])

In [78]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x,y,test_size=0.2)

In [79]:
#clf = neighbors.KNeighborsClassifier()
clf= svm.SVC()
clf.fit(x_train, y_train)
accuracy = clf.score(x_test, y_test)
print(accuracy)

0.9857142857142858

In [63]:
example_measures = np.array([[4, 2, 1, 1, 1, 2, 3, 2, 1],[4, 2, 1, 2, 2, 2, 3, 2, 1]])

In [64]:
prediction = clf.predict(example_measures.reshape(len(example_measures),-1))
print(prediction)

[2 2]

In [33]:
# array1=[3,4,5]
# array2=[2,5,4]
# np.linalg.norm(np.array(array1)-np.array(array2))
# 3**(1/2)

1.7320508075688772

In [38]:
warnings.warn('lolhahaha')

c:\users\shen\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: lolhahaha
  """Entry point for launching an IPython kernel.

In [54]:
Counter(df['clump_thickness']).most_common()

[(1, 145),
 (5, 129),
 (3, 108),
 (4, 80),
 (10, 69),
 (2, 50),
 (8, 46),
 (6, 34),
 (7, 23),
 (9, 14)]

In [ ]:
clf2= svm.SVC()